%form.form-inline{:action => "/search", :method => "get"}
  .form-group
    %input#search.form-control.search-box{name: "search_term", placeholder: "Enter title, description or tags", type: "text", required: "", value: @search_term}/
  %button.btn.btn-default{:type => "submit"} Search