.content
  .container-fluid
    .row-fluid
      .search-container.text-center
        %h1.logo.text-center
          %a{:href => "/"} Flickr Photos.
        %div
          = render :partial => "search_form"
        