%nav.navbar.navbar-default.navbar-static-top
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{"data-target" => "#search-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    #search-navbar-collapse-1.collapse.navbar-collapse
      %form.navbar-form.navbar-left{:role => "search"}
        = render partial: "search_form"
    / /.navbar-collapse
  / /.container-fluid
.container-fliud
  .row-fluid
    - if !@search_results
      .alert.alert-danger{role: "alert"}
        %span.glyphicon.glyphicon-exclamation-sign{"aria-hidden" => "true"}
        %span.sr-only Error
        Sorry, your search did not return any results
    - else
      - @search_results.each do |photo|
        .photo-item
          = link_to image_tag( FlickRaw.url_m(photo)), FlickRaw.url_b(photo)
.pagination-container
  %div
    = will_paginate @search_results, renderer: BootstrapPagination::Rails if @search_results